<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="githubSearch">Github Search</label>
            <input type="text" name="githubSearch" [(ngModel)]="user" placeholder="Search" >
            <button (click)="search();">search</button>
        </div>
    </form>
    <div class="container">
      <div *ngIf="user">
        <div class="card profile">
          <div class="card-header">
            
          </div>
        </div>
      </div>
    </div>
</div>
